<header style="text-align: center">
   
    <h3 class="site-title">My Super Blog</h3>
    <br>
    <nav>
        <a href="/">Home</a> |
        <a href="/blog">Blog</a> |
        <a href="https://github.com/prashanth1k/bloggie">GitHub</a> 

    </nav>
 
</header>