
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>


    <body>
        <%- include('./partials/nav'); %>
        
        <div class="container">
            <section>
                <h2 style="font-weight:800">Welcome to Bloggie</h2>
            </section>
            <div class="post-meta">
                'tis where magic happens.
            </div>
            <a href="/blog"><button>Go to Blog!</button></a>
        </div>
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>

    
