
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>


    <body>
        <%- include('../partials/nav'); %>
        <div class="container">
            <section>
                <form action="/blog" method="POST">
                    <%- include("_form_default") %>
                </form>
               
            </section>
        
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>

    
